body {
  font-family: 'rale', sans-serif;
  background: linear-gradient(135deg, rgba(22, 24, 31, 1), rgba(28, 33, 41, 1));
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
}


.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(255,255,255,0.05);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  padding: 40px 60px;
  border-radius: 20px;
  box-shadow: 0 0 25px rgba(0,0,0,0.3);
  text-align: center;
}
.login-logo {
  height: 100px;
  margin-bottom: 20px;
}
.login-title {
  font-family: 'mile', sans-serif;
  font-size: 32px;
  margin-bottom: 10px;
  color: rgba(220, 242, 249, 0.631);
}
.login-subtitle {
  font-family: rale;
  color: rgba(220, 242, 249, 0.5);
  margin-bottom: 30px;
}


.google-btn {
  display: flex;
  align-items: center;
  gap: 12px;
  border: none;
  background: rgba(232, 232, 232, 0.8);
  color: #333;
  font-family: 'rale';
  padding: 12px 20px;
  border-radius: 8px;
  box-shadow: rgba(0,0,0,0.3) 1px 1px 10px 5px;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  transition: background 0.2s;
}
.google-btn:hover {
  background: rgba(232, 232, 232, 0.6);
  box-shadow: rgba(0,0,0,0) 1px 1px 10px 5px;
}
.google-btn img {
  height: 24px;
}

.github-btn {
  display: flex;
  align-items: center;
  gap: 12px;
  border: none;
  background: rgba(232, 232, 232, 0.8);
  color: #333;
  font-family: 'rale';
  padding: 12px 20px;
  border-radius: 8px;
  box-shadow: rgba(0,0,0,0.3) 1px 1px 10px 5px;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  transition: background 0.2s;
}
.github-btn:hover {
  background: rgba(232, 232, 232, 0.6);
  box-shadow: rgba(0,0,0,0) 1px 1px 10px 5px;
}
.github-btn img {
  height: 24px;
}


.download-btn {
  display: flex;
  align-items: center;
  gap: 12px;
  border: none;
  background: rgba(232, 232, 232, 0.1);
  color: #333;
  font-family: 'rale';
  padding: 12px 20px;
  border-radius: 8px;
  box-shadow: rgba(0,0,0,0.3) 1px 1px 10px 5px;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  /* transition: background 0.2s; */
}
.download-btn:hover {
  background: rgba(232, 232, 232, 0.2);
  box-shadow: rgba(0,0,0,0) 1px 1px 10px 5px;
}
.download-btn img {
  height: 24px;
}


@font-face {
    font-family: 'mile';
    src: url(Assets/mile.otf);
}
@font-face {
    font-family: 'rale';
    src: url(Assets/rale.ttf);
}
@font-face {
    font-family: 'nevera';
    src: url(Assets/nevera.otf);
}
